@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
  background-color: #fbf3ff;
  margin: 0;
  font-family:'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
